html, body, svg {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

circle.node {
  cursor: pointer;
  fill: #000;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: rgba(0,0,0,.5);
  stroke-width: 1px;
}
